{% macro render_tree(item) %}
<li class="tree-item ml-4" id="tree-item-{{ item.path }}">
    <div class="flex items-center p-1 rounded hover:bg-dark-light group">
        {% if item.type == 'folder' %}
            <span class="tree-toggle w-5 text-center text-gray-500 mr-1 cursor-pointer transition-transform {% if item.path == '.' %}rotate-90{% endif %}"
                  data-action="toggle-folder">
                <i class="fas fa-chevron-right text-xs"></i>
            </span>
            <i class="fas fa-folder text-primary mr-2"></i>
            <span class="text-sm text-gray-300 select-none">{{ item.name }}</span>
        {% else %}
            <span class="w-5 mr-1"></span>
            <input type="checkbox" 
                   name="filepaths[]"
                   class="form-checkbox mr-2 bg-dark-card border-dark-light text-primary rounded focus:ring-primary-light cursor-pointer"
                   value="{{ item.path }}"
                   {% if item.selected %}checked{% endif %}
            >
            <i class="fas fa-file-code text-gray-400 mr-2 group-hover:text-primary-light"></i>
            <span class="text-sm text-gray-400 group-hover:text-gray-200">{{ item.name }}</span>
        {% endif %}
    </div>

    {% if item.type == 'folder' and item.children %}
        <ul class="tree-children {% if item.path != '.' %}hidden{% endif %} pl-2 border-l border-dark-light ml-2.5">
            {% for child in item.children %}
                {{ render_tree(child) }}
            {% endfor %}
        </ul>
    {% endif %}
</li>
{% endmacro %}

<ul class="w-full">
    {{ render_tree(file_tree) }}
</ul>